<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<global-property doc:name="Global Property - Env" doc:id="a884c375-6d97-461c-bbcf-a69bd3295128" name="mule.env" value="local" />
	<global-property doc:name="Global Property - appSecretKey" doc:id="9e3eb57e-aa27-47ca-a530-ddd6e67d438d" name="appSecretKey" value="abcd" />
	<configuration-properties doc:name="Read Base Api Config" doc:id="8cfa759a-67be-4f13-b8d6-bf9b7696ae56" file="base-api-config.yaml" />
	<configuration-properties doc:name="Read Environment Config" doc:id="7fde1de6-2e60-4ebf-877a-cd7e750aea78" file="config/${mule.env}-config.yaml" />
	
	<http:listener-config name="apiListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
	<apikit:config name="apikit-config" api="resource::209540e7-adfb-457a-9626-bd806fc66499:demo-message-api:1.0.0:raml:zip:demo-message-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    
</mule>
